<div class="form mt-5 border-2 border-gray-900 p-8">
    <%= form_with model:model_name do |form|%>
      <div style="color: red;" >
        <% if form.object.errors.any? %>
        <ul>
          <% form.object.errors.each do |err| %>
            <li><%= err.full_message%><br>
          <% end %>
        </ul>
        <%end%>
      </div>

     <div class="form-mid bg-white p-5 border-2 space-y-5">
      <div>
      <%= form.label :title%>
      <%= form.text_field :title%>
      </div>

      <div>
      <%= form.label :content%>
      <%= form.rich_text_area :content%>
      </div>

      <div>
      <%= form.label :published_at%>
      <%= form.datetime_select :published_at, include_blank: true, start_year: Time.now.year, time_zone: 'New Delhi'%>
      </div>
    </div>

    <div class="form-bottom mt-2 mx-auto text-center">  
      <%= form.submit "Save", :class=> "rounded-lg border-2 bg-slate-500 px-3 py-1 text-white hover:bg-slate-400 hover:text-black my-2" %>
    <%end%>
    </div>
</div>