<div class="main mx-auto flex flex-col items-center justify-center py-5">
    <div class="head text-2xl font-extrabold">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
    </div>

    <div class="form mt-5 border-2 border-gray-900 p-8">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="form-mid bg-white p-5 border-2">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :username %><br />
          <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
        </div>

        <% if f.object.encrypted_password.present? %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        
          <div class="field">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>
        
          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        
          <div class="field">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password" %>
          </div>
        <% end%>
      </div>

    <div class="form-bottom mt-2 mx-auto text-center">
      <div class="actions">
         <%= f.submit "Update", class: "rounded-lg border-2 bg-slate-500 px-3 py-1 text-white hover:bg-slate-400 hover:text-black my-2" %>
       </div>
      <% end %>
      <div class="delete-account border-t-2 mt-5 border-gray-400 w-fit mx-auto">
        <div class="render-shared-link mt-2 flex flex-col items-center">
            <div class="my-2 text-blue-600"><span class="font-extrabold">Unhappy?</span> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete,:class=>"underline" %></div>
          <div class="back-btn mt-3 text-blue-600 underline">
           <%= link_to "Back", :back %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

     