  <div class="main mx-auto flex flex-col items-center justify-center py-5">
    <div class="head text-2xl font-extrabold">
      <h2>Log in</h2>
    </div>

    <div class="form mt-5 border-2 border-gray-900 p-8">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-mid space-y-2 bg-white p-5 border-2">
        <div class="field">
          <%= f.label :username %><br />
          <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>

      <div class="form-bottom mt-2 mx-auto text-center">
         <% if devise_mapping.rememberable? %>
          <div class="field">
             <%= f.check_box :remember_me %>
             <%= f.label :remember_me %>
          </div>
         <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "rounded-lg border-2 bg-slate-500 px-3 py-1 text-white hover:bg-slate-400 hover:text-black my-2"%>
        </div>
      
    <% end %>
        <div class="render-shared-link mt-2 flex flex-col items-center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>


