<!DOCTYPE html>
<html>
  <head>
    <title>Bloggits</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-200">
  <%= render "shared/header" %>
  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>   
    <%= yield %>

  <%= render "shared/footer" %>
  </body>
</html>
